<h3>Choose your option</h3>
<div ng-controller="level4Controller" ng-init="getItems()">
	<table style="background-color: #F7F7F7; ">
		<tr>
			<td style="padding-top: 5px;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;">
				<a href="{{myLevel1Path}}"> {{mylevel1}} </a> / <a href="{{myLevel2Path}}"> {{mylevel2}} </a> / <a href="{{myLevel3Path}}"> {{mylevel3}} </a>
			</td>
		</tr>
	</table>
	<br>
		<table border="0">
		<tr>
			<td ng-repeat="item in items" style="padding-right: 25px;">
				<table style="border-style: inset;border-width:thin;border-color: grey;">
					<tr>
						<td>
							<a href="#level5/{{item.type}}">
								<img src="{{item.image}}" width="150px" height="170px">
							</a>
						</td>
					</tr>
					<tr>
						<td align="center" style="background-color: #F7F7F7;">
							<span>{{item.type}}</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
</div>